* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2rem auto 0 auto;
}

form {
  min-height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

form input {
  width: 78%;
  min-height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  width: 20%;
  min-height: 100%;
  color: #fff;
  background-color: hsl(0, 0%, 30%);
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  text-align: left;
  width: 100%;
}

ul li {
  padding: 0.5rem;
  margin-top: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
}

.todo-btn {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
